body {
  font-family: adelle-sans,sans-serif;
font-weight: 400;
font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: adelle-sans,sans-serif;
font-weight: 700;
font-style: normal;
}
rect { cursor:pointer;}

  .tooltip {
    width: 200px;
    position:absolute;
    font-family: adelle-sans,sans-serif;
font-weight: 400;
font-style: normal;
    font-size: 11px;
    color:#fff;
    cursor: pointer;
}
  #tooltip[data-show] {
    display: block;
  }

  #arrow,
  #arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
  }

  #arrow {
    visibility: hidden;
  }

  #arrow::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
  }

  #tooltip[data-popper-placement^='top'] > #arrow {
    bottom: -4px;
  }

  #tooltip[data-popper-placement^='bottom'] > #arrow {
    top: -4px;
  }

  #tooltip[data-popper-placement^='left'] > #arrow {
    right: -4px;
  }

  #tooltip[data-popper-placement^='right'] > #arrow {
    left: -4px;
  }

  #goldman {
      cursor:pointer;
  }